/*
  SOMMAIRE
  - RESET CSS
  - GENERAL

*/



/*------------------RESET CSS-------------------*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*------------------FIN RESET CSS-------------------*/

/*------------------GENERAL-------------------*/

html{
    font-size: 14px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
    background-color: #fff;
    color: #444;
}

a{
    text-decoration: none;
}
*, *:before, *:after{
    box-sizing: border-box;
}

h1{
    font-size: 3rem;
    color: #000;
    font-weight: 300;
}
h2{
    color: #000;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.75rem;
    font-weight: 300;
}

h3{
    color: #000;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
}

h4{
    color: #000;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.35rem;
    font-weight: 300;
}

h5{
    color: #000;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
}

/*------------------FIN GENERAL-------------------*/


/*------------------FICHE PRODUIT-------------------*/
.bottom-product{
  display:flex;
  justify-content: space-between;
  margin:2em auto;
}
/*------------------FIN FICHE PRODUIT-------------------*/

/*------------------AVIS-------------------*/
.formulaire-avis{
  width:50%;
}
/*------------------FIN AVIS-------------------*/
